/* Aquí definimos las Custom properties */
:root {
  // Colores
  --Magenta: hsl(300, 43%, 22%);
  --Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Magenta: hsl(300, 24%, 96%);
  --Pink: hsl(333, 80%, 67%);
  --White: hsl(0, 0%, 100%);
  /* Tipografía */
  --font-size: 15px;
  --ff: 'League Spartan', sans-serif;
}